h1{
 background-color: rgb(201, 0, 84)
}



.header{
    color: rgb(228, 190, 22)
}

.footer{
    color:rgb(0, 201, 191)
}

.grid{
    display: flex; 
    flex-direction: row-reverse;
   flex-wrap: wrap;

}
